.categorydata{
    text-align: center;
    margin-top: 30px;
}
.buttton{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.para{
   color: grey;
}
.btn-danger{
    background-color: white !important;
    border-color: black !important;
    color: black !important;

}
.btn-danger:hover{
    color: white !important;
    background-color: #0d6efd !important;
    border-color: white !important;
}